{{ define "telegram.alert" -}}
⚠️ <b>{{ .Status | toUpper }}</b> | {{ .CommonLabels.severity | toUpper }}

<b>Host:</b> {{ if .CommonLabels.hostname }}{{ .CommonLabels.hostname }}{{ else }}vmi3410257{{ end }}
<b>Service:</b> {{ if .CommonLabels.service }}{{ .CommonLabels.service }}{{ else }}unknown{{ end }}
<b>Alert:</b> {{ .CommonLabels.alertname }}
<b>Summary:</b> {{ if .CommonAnnotations.summary }}{{ .CommonAnnotations.summary }}{{ else }}No details{{ end }}
{{- if .CommonAnnotations.description }}
<b>Details:</b> {{ .CommonAnnotations.description }}
{{- end }}

<b>Time:</b> {{ .StartsAt.Format "02 Jan 2006 15:04:05 MST" }}
{{- if .GeneratorURL }}
<b>Source:</b> <code>{{ .GeneratorURL }}</code>
{{- end }}
{{- end }}
